/* 2013 - Ana Guerrero Lopez <ana@debian.org> */

@import url("pygment.css");

body {
    font-family: tahoma,verdana,sans-serif;
    /*font-family: Verdana, Arial, Helvetica, sans-serif;*/
    font-size: 14px;
}

p {
    /*padding: 0.3em 0;*/
}

a:link {
    color: #C70038;
    text-decoration: none
}

a:active {
    color: #000000;
    text-decoration: none
}

a:visited {
    color: #C70038;
    text-decoration: none
}

a:hover {
    color: #FF0000;
    text-decoration: underline
}

blockquote {
    font-style: italic;
    color: #555555;
    border-left: 3px solid #AAAAAA;
    margin-left: 2em;
    padding-left: 1em;
}

pre {
    margin-left: 2em;
}

#wrapper {
    margin: 0 auto;
}

#header {
    float: left;
    height: 125px;
}

/* This is for having "Bits from Debian" more aligned to the center */
#header p {
    font-size: 36px;
    margin-left: 2.5cm;
}

#content {
    float: left;
}

#rightcolumn {
    background: #fff;
    float: left;
}

#footer {
    height: 30px;
    text-align:center;
    clear: both;
}

.content-title {
    margin-bottom: 2em;
}

.article h1 {
    color: #C70038;
}

.article h2 {
    font-size: 120%;
}

.article h3 {
    font-size: 110%;
}

.lateral h1 {
    font-size: 15px;
    padding-left: 1em;
    padding-top: 0em;
}

.nocss {
    display: none;
}

@media screen and (min-width: 940px) {
    #wrapper {
        width: 940px;
    }

    #header {
        width: 940px;
    }

    #content {
        width: 690px;
    }

    #rightcolumn {
        width: 250px;
    }

    #footer {
        width: 940px;
    }
}
