<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block windowtitle %}{{ SITENAME }}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="{{ AUTHOR }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!-- Styles -->
    <link href="{{ SITEURL }}/theme/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="https://www.debian.org/favicon.ico"/>
    <link rel="alternate" type="application/atom+xml" title="{{ SITENAME }} Atom Feed" href="{{ SITEURL }}/atom.xml" />
    <link rel="alternate" type="application/rss+xml"  title="{{ SITENAME }} RSS Feed"  href="{{ SITEURL }}/feed.rss" />
</head>

<body>

<div id="wrapper">
    <div id="header">
        <a href="{{ SITEURL }}"><img align="left" class="logo" src="{{ SITEURL }}/theme/images/openlogo-nd-75.png" alt="{{ SITENAME }}" align="left" style="margin-top: 20px;"></a>
        <p>{{ SITENAME }}</p>
    </div>

    <hr class="nocss" />
    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <div id="rightcolumn">



            <hr class="nocss" />
            <div class="lateral" style="padding: 8px 0;">
                <ul class="nav-list">

                {% for title, link in MENUITEMS %}
                <li><a href="{{ link }}">{{ title }}</a></li>
                {% endfor %}

                {% if DISPLAY_PAGES_ON_MENU %}
                {% for page in PAGES %}
                <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
                {% endif %}

                <li><a href="{{ SITEURL }}/archives.html">Archives</a>
                <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" rel="alternate">Atom feed</a></li>
                {% if FEED_RSS %}
                <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" rel="alternate">RSS feed</a></li>
                {% endif %}
                </ul>
            </div>


            {% if tags %}
            <hr class="nocss" />
            <div class="lateral" style="padding: 8px 0;">
            <h1>Tags</h1>
                <ul class="nav-list">
                {% for ta, articles in tags|sort %}
                  <li><a href="{{ SITEURL }}/{{ ta.url }}">{{ ta }}</a> ({{ articles|count }})</li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}


            {% if LINKS %}
            <hr class="nocss" />
            <div class="lateral" style="padding: 8px 0;">
            <h1>Links</h1>
                <ul class="nav-list">
                {% for name, link in LINKS %}
                <li><a href="{{ link }}">{{ name }}</a></li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}


            {% if SOCIAL %}
            <hr class="nocss" />
            <div class="lateral" style="padding: 8px 0;">
            <h1>More on Debian</h1>
                <ul class="nav-list">
                {% for name, link in SOCIAL %}
                <li><a href="{{ link }}">{{ name }}</a></li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}

    </div>

    <hr class="nocss" />
    <div id="footer">
        <p><a href="{{ SITEURL }}">{{ SITENAME }}</a> is the official blog of the <a href="http://java.debian.net">Debian Java packaging team</a></p>
    </div>

</div>
</body>
</html>
