{{ article.locale_date }}

{% if article.authors %}
by {% for author in article.authors %}
<a class="url fn" href="{{ SITEURL }}/{{ author.url }}"> {{ author }}</a>{% if not loop.last %}, {% endif %}
{% endfor %}
{% elif article.author %}
by <a class="url fn" href="{{ SITEURL }}/{{ article.author.url}}">{{ article.author }}</a>
{% endif %}

{% if article.translator %}
(Translated by {{ article.translator }})
{% endif %}



{% if article.tags %}
with tags {% for tag in article.tags %}<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> {% endfor %}
{% endif %}
<p>
{% import 'translations.html' as translations with context %}
{{ translations.translations_for(article) }}
</p>
